%ul.stock-list
  .add-symbol-wrapper
    %form.add-symbol-form{ action: '/stocks/new', method: 'post' }
      %input{ name: 'stock_symbol', placeholder: 'Symbol', type: 'text' }

  - @stocks.each do |stock|
    - if (stock.change.first).to_f < 0
      - change = 'loss'

    %li{ class: "#{change}" }
      .stock-info-wrapper
        .stock-info
          %strong= stock.symbol
          %p.stock-price
            = stock.price
            %span= stock.change[1]
        .stock-tools
          .remove{ id: "#{stock.id}" }
      .stock-detail-content
        %h5 Open
        %p= stock.opening_price
