%header.title-bar
  %nav#menu.menu
  #add-symbol.add-symbol

%article.stock-detail
  %header{ class: "#{@symbol.status}" }
    %h3= @symbol.symbol
    %h2= @symbol.company
    %p.last-price
      = @symbol.last_price
      %span.change
        = @symbol.point_change
        = (@symbol.percent_change)

  %table
    %tr
      %td Bid x Size
      %td= @symbol.bid_size
    %tr
      %td Ask x Size
      %td= @symbol.ask_size
    %tr
      %td Volume
      %td= @symbol.volume
    %tr
      %td Open
      %td= @symbol.opening_price
    %tr
      %td Days High
      %td= @symbol.days_high
    %tr
      %td Days Low
      %td= @symbol.days_low
