%header.title-bar
  %nav#menu
    %a.return{ href: '/', target: '_self' }

.symbol-lookup-wrapper
  %form#symbol-lookup-form.symbol-lookup-form{ action: '/search', method: 'post' }
    %input{ autocapitalize: 'off', autocorrect: 'off', name: 'stock_symbol', placeholder: 'e.g. GOOG', type: 'text' }

%article.stock-detail
  %header{ class: "#{@symbol.status}" }
    %h3.company-name= @symbol.company
    %p.last-price
      = @symbol.last_price
    %span.change
      = @symbol.point_change
      = @symbol.percent_change

  %canvas{ class: 'symbol-chart', id: 'symbol-chart', height: '240', width: '320' }

%script{ src: '/javascripts/chart.min.js' }

:javascript
  var ctx = document.getElementById('symbol-chart').getContext('2d');

  var data = {
    labels : #{@symbol.last_prices_days.reverse},
    datasets : [
      {
        fillColor : "rgba(151,187,205,0.3)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "rgba(151,187,205,1)",
        pointDotStrokeWidth : 0,
        datasetStroke : false,
        scaleShowGridLines : false,
        animation : false,
        data : #{@symbol.last_prices.reverse}
      }
    ]
  }

  var myNewChart = new Chart(ctx).Line(data);
