%header.title-bar
  %nav#menu.menu
  #add-symbol.add-symbol

%article.stock-detail
  %header{ class: "#{@symbol.status}" }
    %h3= @symbol.symbol
    %h2= @symbol.company
    %p.last-price
      = @symbol.last_price
      %span.change
        = @symbol.point_change
        = (@symbol.percent_change)

  %table
    %tr
      %td Open
      %td= @symbol.opening_price
