%header.title-bar
  %nav#menu
    %a.return{ href: "#{request.referer}" }

%article.stock-detail
  %header{ class: "#{@symbol.status}" }
    %h3= @symbol.symbol
    %p.last-price
      = @symbol.last_price
      %span.change
        = @symbol.point_change
        = (@symbol.percent_change)

  %canvas{ id: 'chart', height: '200', width: '500' }

  %table
    %tr
      %td Open
      %td= @symbol.opening_price

